body{
  background-color: #000000;
}

div.main{
  padding: 0;
  margin: 0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -khtml-background-size: cover;
  background-size: cover;
}

div span{
  display: block;
}

#menu{
  position: fixed !important;
  width: 100%;
  z-index: 10000;
  margin-left: 0px;
  margin-top: -30px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
}

#video{
  height: 0;
  /*position: relative;*/
  text-align: center;
  padding-bottom: 56.25%;
  /* 16:9 */
}

#video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#concept span,
#concept_1 span,
#concept_2 span,
#concept_3 span,
#concept_4 span,
#concept_5 span,
#concept_6 span,
#design span,
#design_1 span,
#design_2 span,
#experiment span,
#experiment_1 span,
#experiment_3 span,
#experiment_4 span,
#experiment_5 span,
#experiment_6 span,
#experiment_7 span,
#experiment_8 span {
  text-align: left;
}

#concept{
  background: #ADD588 url(img/1.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#concept_1{
  background: #ADD588 url(img/2.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#concept_2{
  background: #ADD588 url(img/3.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#concept_3{
  background: #ADD588 url(img/4.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#concept_4{
  background: #ADD588 url(img/5.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#concept_5{
  background: #ADD588 url(img/6.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#concept_6{
  background: #ADD588 url(img/7.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#design{
  background: #181510 url(img/8.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#design_1{
  background: #181510 url(img/9.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#design_2{
  background: #6E523C url(img/10.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#experiment{
  background: #ADD588 url(img/11.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#experiment_1{
  background: #ADD588 url(img/12.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#experiment_2{
  background: #000000 url(img/13.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#experiment_3{
  background: #ADD588 url(img/14.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#experiment_4{
  background: #ADD588 url(img/15.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#experiment_5{
  background: #ADD588 url(img/16.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#experiment_6{
  background: #ADD588 url(img/17.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#experiment_7{
  background: #ADD588 url(img/18.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#experiment_8{
  background: #ADD588 url(img/19.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}

#contact{
  background-size: 100% auto;
  min-height: 700px;
  background: #000000;
  overflow: hidden;
}

#contact-content{
  padding-left: 40%;
  margin-top: 8%;
}

#contact-container{
  display: inline-block;
}

#contact .info-img{
  display: inline;
}

#contact .info{
  display: inline-block;
  padding-left: 2%;
}

#contact .info-name{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 1em;
}

#contact img{
  width: 25%;
}

#contact a{
  text-decoration: none;
  color: #fff;
}

#concept span{
  padding: 30% 10% 0% 60%;
  font-size: 18px;
}

#concept_1 span{
  padding: 30% 31% 0% 31%;
  font-size: 18px;
  font-weight: 300;
  width: 43%;
}

#concept_2 span{
  padding: 40% 8% 0% 67%;
  font-size: 18px;
}

#concept_4 span{
  padding: 48% 25% 0% 48%;
  font-size: 18px;
}

#concept_5 span{
  padding: 30% 10% 0% 60%;
  font-size: 18px;
}

#concept_6 span{
  padding: 50% 0% 0% 5%;
  width: 28%;
  font-size: 18px;
}

#design span{
  padding: 20% 22% 0% 55%;
  font-size: 18px;
  width: 29%;
}

#design_1 span{
  padding: 15% 22% 0% 15%;
  font-size: 18px;
  width: 35%;
}

#design_2 span{
  padding: 40% 22% 0% 10%;
  font-size: 18px;
  width: 38%;
}

#experiment span{
  padding: 30% 0% 0% 31%;
  font-size: 18px;
  width: 44%;
}

#experiment_1 span{
  padding: 20% 10% 0% 54%;
  font-size: 18px;
  width: 30%;
}

#experiment_2 span{
  padding: 22% 22% 0% 53%;
  font-size: 18px;
  width: 25%;
}

#experiment_3 span{
  padding: 30% 22% 0% 8%;
  font-size: 18px;
  width: 35%;
}

#experiment_7 span{
  padding: 20% 32.5% 0% 32.5%;
  font-size: 18px;
  width: 35%;
}

#experiment_8 span{
  padding: 25% 32.5% 0% 32.5%;
  font-size: 18px;
  width: 33%;
}

.intro-title{
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 1px;
}

.pure-menu {
  font-family: 'Hind', sans-serif !important;
  font-weight: 300;
  text-transform: uppercase;
}

.pure-menu img{
  height: 3em;
}

.pure-menu-item{
  top: 1em;
}

.custom-menu {
  color: #fff;
}

.custom-wrapper {
    margin: 0 1em 0 1em;
    padding: 2em;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    height: 3em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 12em;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 3em;
    right: 2em;
    display: \none;
}

.custom-toggle .bar {
    background-color: #fff;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

div.main .mobile-img {
    display: none;
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

    div.main{
      padding: 0;
      margin: 0 auto;
    }

    div.main .mobile-img {
      display: block;
      height: 100%;
      overflow: hidden;
      position: absolute;
    }

    #concept,
    #concept_1,
    #concept_2,
    #concept_3,
    #concept_4,
    #concept_5,
    #concept_6,
    #design,
    #design_1,
    #design_2,
    #experiment,
    #experiment_1,
    #experiment_2,
    #experiment_3,
    #experiment_4,
    #experiment_5,
    #experiment_6,
    #experiment_7,
    #experiment_8{
      background-image: none;
      position: relative;
      min-height: 600px;
      max-height: 100%;
      padding: 0;
      max-width: 100%;
      overflow: hidden;
    }

    #concept span,
    #concept_1 span,
    #concept_2 span,
    #concept_3 span,
    #concept_4 span,
    #concept_5 span,
    #concept_6 span,
    #design span,
    #design_1 span,
    #design_2 span,
    #experiment span,
    #experiment_1 span,
    #experiment_2 span,
    #experiment_3 span,
    #experiment_4 span,
    #experiment_5 span,
    #experiment_6 span,
    #experiment_7 span,
    #experiment_8 span{
      width: 60%;
      padding: 30% 10%;
      font-size: 18px;
      position: relative;
    }

    #contact{
      min-height: 400px;
    }

    #contact-content{
      padding-left: 10%;
    }

    h2 .intro-title{
      font-size: 19px;
    }

}

.main {
    padding: 2em;
    color: #fff;
    background-color: #000;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
  }
